.orange {
    background-color: orange;
    color: white;
}

.blue {
    background-color: blue;
    color: white;
}

.red {
    background-color: red;
    color: white;
}

.yellow {
    background-color: yellow;
    color: white;
}

.purple {
    background-color: purple;
    color: white;
}

.bold {
    font-weight: bold;
}